/* components/HomeMenu/HomeMenu.css */

.home-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-title h1 {
    font-family: 'Bangers';
    font-size: 48px;
}

.menu-buttons button {
    margin: 5px;
    padding: 10px 20px;
}
