/* 
components/GameScreen/GameScreen.css 
*/

/* ========== GLOBAL STYLES ========== */

.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100 * var(--vh));
    gap: 20px;
}

.question-content-container {
    width: 100%;
}

/* ========== MOVIE STILL ========== */

.movie-still-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    padding-bottom: 24px;
}

.movie-still {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
}

.movie-still img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/* ========== CIRCLE INDICATORS ========== */

.circle-indicators-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.prev-arrow, .next-arrow {
    flex-shrink: 0; /* Prevent arrows from shrinking */
    height: 56px;
    /* width: 33.33%; */
    background: none;
    border: none;
    border-radius: 4px;
    color: #BCBCBC;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .prev-arrow:hover, .next-arrow:hover {
    background-color: #F7F7F7;
} */

.circle-indicators {
    display: flex;
    gap: 16px;
    flex-grow: 1; /* Allow circle indicators to take up remaining space */
    justify-content: center;
    align-items: center;
    padding: 0 16px; /* Provide some space between the arrows and the circles */
}


.circle-indicators div {
    width: 32px;
    height: 32px;
    transition: width 140ms ease-in-out, height 140ms ease-in-out;
    transform-origin: center center;
  
}

.circle-indicators div.answered-container {
    display: flex;
    justify-content: center;
}

.circle {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #EBEBEB;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.circle.answered {
    background-color: #737373;
}

.circle.submitted {
    display: none;
}

.circle.current {
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.20);
}

@keyframes bouncyEffect {
    0% { transform: scale(1); }
    70% { transform: scale(2.2); }
    100% { transform: scale(2); }
}

.circle-indicators span.emoji-pop {
    transform: scale(2);
    opacity: 1;
    animation: bouncyEffect 140ms;
}

/* ========== TITLE CHOICES ========== */

.title-choices {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 8px;
}

.title-choice-button {
    height: 56px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #EBEBEB;
    color: #5D5A51;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* .title-choice-button:hover, .title-choice-button.selected:hover {
    background-color: #5a5851;
    color: #fff;
} */

.title-choice-button.selected {
    background-color: #424242;
    color: #fff;
}

.title-choice-button.correct {
    background-color: #4CAF50;
    color: #fff;
}

.title-choice-button.incorrect {
    background-color: #F44336;
    color: #fff;
}

/* ========== ACTION BAR ========== */

.action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    gap: 8px;
    padding-bottom: 16px;
}

/* .prev-arrow, .next-arrow {
    height: 56px;
    width: 33.33%;
    background: none;
    border: none;
    border-radius: 4px;
    color: #979797;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    display: flex;
    justify-content: center;
}

.prev-arrow:hover, .next-arrow:hover {
    background-color: #F7F7F7;
} */

.submit-btn {
    height: 56px;
    width: 100%;
    background-color: #F7F7F7;
    color: #BFBFBF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn.active {
    background-color: #E0DBFF;
    color: #6349FF;
}

.submit-btn.active:hover {
    background-color: #D0C8FF;
}

.share-btn {
    color: white;
    background-color: #6349FF;
}

/* ========== MEDIA QUERIES ========== */

@media screen and (min-width: 1024px) {
    .game-screen {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .question-content-container,
    .movie-still-container,
    .title-choices,
    .action-bar {
        max-width: 400px;
    }

   
}
